/*====================FONTS====================*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.pt-serif-font {
    font-family: 'PT Serif', serif;
}

.satisfy-font {
    font-family: 'Satisfy', cursive;
}

.gloria-font {
    font-family: 'Gloria Hallelujah', cursive;
}

/*====================UNIVERSALS====================*/
* {
    font-family: 'Source Sans Pro', sans-serif;
    /*border: 1px solid red;*/
}

body {
    position: relative;
    padding-top: 40px;
}

p {
    font-size: 18px;
}

.page-header {
    padding-top: 60px;
    margin-top: -30px;
}

.white-text {
    color: #fff;
}

.orange-text {
    color: #ff7000;
}

.light-grey-background {
    background-color: #d3d3d3;
}

.black-background {
    background-color: #000;
}

.blue-background {
    background-color: #337ab7;
}

.purple-background {
    background-color: #311C34;
}

.tall {
    height: 320px;
}

.x-tall {
    height: 640px;
}

.gutter-bottom-small {
    margin-bottom: 40px;
}

.gutter-top-small {
    padding-top: 20px;
}

.gutter-bottom-medium {
    margin-bottom: 80px;
}

.gutter-top-medium {
    margin-top: 80px;
}

.parallax-scroll {
    position: relative;
    top: 25%;
    margin-top: -60px;
}

/*====================HEADER====================*/

.nav li.active {
    border-bottom: 2px solid #ff7000;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

/*====================CALL TO ACTION====================*/
.jumbotron {
    padding: 0;
}

#hero {
    position: relative;
    background-attachment: fixed;
    margin-top: -60px;
    margin-bottom: -50px;
    background-image: url('../img/call-to-action.jpg');
    background-size: cover;
    background-position: bottom center;
    -webkit-filter: grayscale(50%);
    color: #fff;
}

#hero h1 span {
    font-size: 64px;
    color: #fff;
    text-shadow: 4px 2px #000;
    border-bottom: 4px solid #ff7000;
}

.hidden-sm h1 span {
    border-bottom: 4px solid #ff7000;
}

#hero img {
    max-width: 300px;
    margin: auto;
    -webkit-filter: grayscale(0%);
}

.hidden-sm > .img-responsive {
    max-width: 70%;
    margin: auto;
}

/*====================ABOUT====================*/
.progress-bar {
    background-color: #555;
    border-right: 2px solid #ff7000;
}

/*====================PROJECTS====================*/
#projects .row .visual {
    min-height: 250px;
}

#projects .visual > img {
    max-height: 200px;
    margin-top: 25px;
    margin-bottom: -25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.visual:hover .overlay {
    opacity: 1;
}

#projects .black-background > img.gutter-top-medium {
    margin-top: 80px;
}

#projects div h3 {
    font-size: 32px;
}

#pet-store-logo {
    color: #ff827b;
}

#weather-logo {
    color: #F1F227;
}

/*====================CONTACT====================*/
#contact {
    margin-bottom: 72px;
}

#budget{
    padding-left: 0;
}

#start-date{
    padding-right: 0;
}

.nav-tabs.nav-justified>li>a {
    color: #000;
}

/*====================FOOTER====================*/
footer a i, footer i {
    color: #9d9d9d;
    padding: 0 10px;
}
footer a i:hover {
    color: #fff;
}

/*====================MEDIA QUERIES====================*/
@media only screen and (max-width: 767px) {
    .visual > img{
        -webkit-transform: translateY(-25px) scale(.4);
    }
    .overlay {
        -webkit-transform: translateY(35px);
        opacity: 1;
        background: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .page-header {
        margin-top: 0;
    }
}
