/*====================FONTS====================*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.pt-serif-font {
    font-family: 'PT Serif', serif;
}

.satisfy-font {
    font-family: 'Satisfy', cursive;
}

/*====================UNIVERSALS====================*/
* {
    font-family: 'Source Sans Pro', sans-serif;
    /*border: 1px solid red;*/
}

body {
    padding-top: 40px;
}

p {
    font-size: 18px;
}

.page-header {
    padding-top: 60px;
    margin-top: -30px;
}

.white-text {
    color: #fff;
}

.black-background {
    background-color: #000;
}

.tall {
    height: 320px;
}

.x-tall {
    height: 640px;
}

.gutter-bottom-small {
    margin-bottom: 40px;
}

.gutter-top-medium {
    margin-top: 80px;
}

.parallax-scroll {
    position: relative;
    top: 40%;
    margin-top: -60px;
}

/*====================HEADER====================*/

.nav > .active {
    border-bottom: 2px solid #ff7000;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}


/*====================CALL TO ACTION====================*/
.jumbotron {
    padding: 0;
}

#hero {
    position: relative;
    background-attachment: fixed;
    margin-top: -60px;
    margin-bottom: -50px;
    background-image: url('../img/desert2.jpg');
    background-size: cover;
    background-position: bottom center;
    -webkit-filter: grayscale(50%);
    color: #fff;
}

#hero h1 {
    font-size: 64px;
    color: #fff;
    text-shadow: 4px 2px #000;
}

/*====================ABOUT====================*/
.progress-bar {
    border-right: 2px solid #ff7000;
}

/*====================PROJECTS====================*/
#projects .row .visual {
    min-height: 250px;
    border: 1px solid #000;
}

#projects img {
    max-height: 200px;
    margin-top: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.visual:hover .overlay {
    opacity: 1;
}

#black-background {
    background-color: #000;
}

#projects #black-background > img.gutter-top-medium {
    margin-top: 80px;
}

#pet-store-logo {
    font-family: 'Satisfy', cursive;
    color: #ff827b;
    font-size: 32px;
}

#weather-logo {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 32px;
    color: #80503d;
}

/*====================CONTACT====================*/
#contact {
    margin-bottom: 72px;
}

#budget{
    padding-left: 0;
}

#start-date{
    padding-right: 0;
}

/*====================FOOTER====================*/
i {
    padding: 0 10px;
}
